.git_archival.txt  export-subst

# Generic rules
*.py            filter=copyright

# Exceptions: files to exclude
#foo            !filter

# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
